@model ContainersWeb.Models.RegisterViewModel
@using Resources


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">@Resources.Register</h4>
</div>


@using (Html.BeginForm())
{
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="row form-row">
            <div class="col-md-12">
                <label class="form-label">@Resources.Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-6">
                <label class="form-label">@Resources.Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                <label class="form-label">@Resources.ConfirmPassword</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal">@Resources.Cancel</button>
        <input class="btn btn-primary" type="submit" value="@Resources.Save" />
    </div>
}
