@model ContainersWeb.Models.ContainerTracking
@using Resources

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title semi-bold" id="myModalLabel">@Resources.In</h4>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "InForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="modal-body">
        <div class="row form-row">
            <div class="col-md-6">
                <label class="form-label bold">@Resources.Tracking</label>
                @Html.EnumDropDownListFor(model => model.TrackingType, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TrackingType, "", new { @class = "text-danger" })
            </div>
            @*<div class="col-md-6">
                <label class="form-label bold">@Resources.Destination</label>
                @Html.ListBoxFor("CompanyDestinationId", null, "Seleccionar", new { @class = "select-drop" })
                @Html.ValidationMessageFor(model => model.CompanyDestinationId, "", new { @class = "text-danger" })
            </div>*@
        </div>

        <div class="row form-row">
            <div class="col-md-12">
                <label class="form-label bold">@Resources.NumberOrLicensePlate</label>
                <input id="ContainerNumber" name="ContainerNumber" type="text" class="form-control" />
                @*@Html.EditorFor(model => model.ContainerNumber, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.ContainerNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-6">
                <label class="form-label bold">@Resources.Gate</label>
                @Html.DropDownList("GateId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GateId, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label class="form-label bold">@Resources.Status</label>
                @Html.EnumDropDownListFor(model => model.ContainerStatus, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContainerStatus, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-6">
                <label class="form-label bold">@Resources.Date</label>
                @Html.EditorFor(model => model.InsertedAt, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.InsertedAt, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label class="form-label bold">@Resources.User</label>
                @Html.EditorFor(model => model.InsertedBy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.InsertedBy, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

        <div class="modal-footer">
            <button class="btn" type="button" data-dismiss="modal">@Resources.Cancel</button>
            <input class="btn btn-primary" type="submit" value="@Resources.Save" />
        </div>
}

<script>

    function validate() {
        var type = $('#Type').val();
    };

    $(document).ready(function () {

        //evitar el duplicado de registros al darle click varias veces
        $('#InForm').submit(function () {
            $('input[type=submit]', this).attr('disabled', 'disabled');
        });

        $('.select-drop').select2();

        //validate();

        //$('#ContainerStatus').change(function () {
        //    validate()
        //});

    });
</script>
