@model ContainersWeb.Models.ContainerTracking
@using Resources

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title semi-bold" id="myModalLabel">@Resources.Out</h4>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "OutForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="modal-body">
        <div class="row form-row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label class="form-label bold">@Resources.Tracking</label>
                @Html.EnumDropDownListFor(model => model.TrackingType, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TrackingType, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row form-row">
            <div class="col-md-6" id="parentDiv">          
                <label class="form-label bold">@Resources.NumberOrLicensePlate</label>
                <div class="form-group">
                    @*@Html.DropDownList("ContainerNumber", null, Resources.Select, htmlAttributes: new { @class = "select-drop" })*@
                    @Html.EditorFor(model => model.ContainerNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @*<input id="ContainerNumber" name="ContainerNumber" type="text" class="form-control" />*@
                    @Html.ValidationMessageFor(model => model.ContainerNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label bold">@Resources.DocNumber</label>
                @Html.EditorFor(model => model.DocNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DocNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-6">
                <label class="form-label bold">@Resources.Gate</label>
                @Html.DropDownList("GateId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GateId, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label class="form-label bold">@Resources.ContainerStatus</label>
                @Html.EnumDropDownListFor(model => model.ContainerStatus, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContainerStatus, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-6">
                <label class="form-label bold">@Resources.Date</label>
                @Html.EditorFor(model => model.InsertedAt, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.InsertedAt, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label class="form-label bold">@Resources.User</label>
                @Html.EditorFor(model => model.InsertedBy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.InsertedBy, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal">@Resources.Cancel</button>
        <input class="btn btn-primary" type="submit" value="@Resources.Save" />
    </div>
}


<script type="text/javascript">
    function getContainersAndTrucks() {
        $.ajax({
            url: '@Url.Action("GetContainersAndTrucks")',
            type: 'POST',
            data: {},
            dataType: "json",
            async: false,
            success: function (data) {

                if (data.length > 0) {
                    var items = "";
                    items += "<option value='-1' selected='selected'>" + '@Resources.Select ' + "</option>";
                    $.each(data, function (i, val) {
                        items += "<option value='" + val.ContainerNumber + "'>" + val.ContainerNumber + "</option>";
                    });                    
                    $('#ContainerNumber').html(items);
                } else {
                    $('#ContainerNumber').html(0);
                }
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    };

    function validate() {
        var trackingType = $('#TrackingType').val();
        //Contenedor = 0, Camion = 1, Courier = 2, Rastra = 3, Vehiculo = 4, Moto = 5

        if (trackingType == 0 || trackingType == 3) {

            //quitar o poner la lista de seleccion en el numero de contenedor
            var isSelect2 = $('#ContainerNumber').data('select2');

            if (isSelect2 == null) {

                $('#ContainerNumber').replaceWith("<select id='ContainerNumber' name='ContainerNumber' class='form-control'></select>");

                getContainersAndTrucks();

                $('#ContainerNumber').select2({
                    dropdownParent: $("#parentDiv")
                });
            }
          
        } else {
            var isSelect2 = $('#ContainerNumber').data('select2');

            if (isSelect2 != null) {
                $('#ContainerNumber').select2('destroy');
                $('#ContainerNumber').replaceWith("<input id='ContainerNumber' name='ContainerNumber' type='text' class='form-control' />");
            }       
        }
    };

    $(document).ready(function () {

        //evitar el duplicado de registros al darle click varias veces
        $('#OutForm').submit(function () {
            $('input[type=submit]', this).attr('disabled', 'disabled');
        });

        validate();

        $('#TrackingType').change(function () {
            validate();
        });
    });
</script>