@model ContainersWeb.Models.Driver
@using Resources

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">@Resources.DeleteText</h4>
</div>

@using (Html.BeginForm())
{
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="row form-row">
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.CardId)
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal">@Resources.Cancel</button>
        <input class="btn btn-primary" type="submit" value="@Resources.Save" />
    </div>
}

