@using Resources

@{
    double truckTotalPercent = Math.Round(((double)ViewBag.TruckReady / (ViewBag.TruckPending + ViewBag.TruckReady)) * 100,0);
    double containerTotalPercent = Math.Round(((double)ViewBag.ContainersReady / (ViewBag.ContainersPending + ViewBag.ContainersReady)) * 100,0);
    double rastraTotalPercent = Math.Round(((double)ViewBag.RastraReady / (ViewBag.RastraPending + ViewBag.RastraReady)) * 100,0);
}

<div class="row 2col">
    <div class="col-md-3 col-sm-6 spacing-bottom-sm spacing-bottom">
        <div class="tiles blue added-margin">
            <div class="tiles-body">
                <div class="controller"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                <div class="tiles-title"> @Resources.Container </div>
                <div class="heading"> <span class="animate-number" data-value="@ViewBag.Containers" data-animation-duration="1200">0</span></div>
                <div class="progress transparent progress-small no-radius">
                    <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="@containerTotalPercent%"></div>
                </div>
                <div class="description"><i class="icon-custom-up"></i><span class="text-white mini-description ">&nbsp; @ViewBag.ContainersReady @Resources.Ready y @ViewBag.ContainersPending @Resources.Pending</span></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 spacing-bottom-sm spacing-bottom">
        <div class="tiles green added-margin">
            <div class="tiles-body">
                <div class="controller"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                <div class="tiles-title"> @Resources.Truck </div>
                <div class="heading"> <span class="animate-number" data-value="@ViewBag.Trucks" data-animation-duration="1000">0</span> </div>
                <div class="progress transparent progress-small no-radius">
                    <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="@truckTotalPercent%"></div>
                </div>
                <div class="description"><i class="icon-custom-up"></i><span class="text-white mini-description ">&nbsp; @ViewBag.TruckReady @Resources.Ready y @ViewBag.TruckPending @Resources.Pending </span></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 spacing-bottom">
        <div class="tiles red added-margin">
            <div class="tiles-body">
                <div class="controller"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                <div class="tiles-title"> @Resources.Rastra </div>
                <div class="heading"><span class="animate-number" data-value="@ViewBag.Rastras" data-animation-duration="1200">0</span> </div>
                <div class="progress transparent progress-white progress-small no-radius">
                    <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="@rastraTotalPercent%"></div>
                </div>
                <div class="description"><i class="icon-custom-up"></i><span class="text-white mini-description ">&nbsp; @ViewBag.RastraReady @Resources.Ready y @ViewBag.RastraPending @Resources.Pending</span></div>
            </div>
        </div>
    </div>
</div>