@using Resources

@{
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-offset-1 col-xs-10">
        <div class="error-container">
            <div class="error-main">
                <div class="error-number"> @ViewBag.ErrorCode </div>
                <div class="error-description"> @Resources.AccessDenied </div>
                <div class="error-description-mini"> @Resources.AccessDeniedText </div>
                <br>
                @Html.ActionLink(Resources.GoToLogin, "Login", "Account", null, htmlAttributes: new { @class = "btn btn-primary" })
                or
                @Html.ActionLink(Resources.GoToHome, "Index", "Home", null, htmlAttributes: new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>
